.navbar-dark {
    background-color: black;
    opacity: 0.9;
    height: 15%;
}

.trilogylogo {
    width: 20%;
    margin-left: 5%;
    margin-top: 25px;
}

#admissions{
    color: white;
    float: right;
    margin-right: 5%;
    text-align: right;
    padding-top: 2%;
    font-family: 'Roboto Slab', serif;
}

a {
    color: #38bcdb;
}

.hero {
    width: auto;
    position: relative;
    border: 1px red solid;
}

.learn-coding-div {
    border: 1px solid red;
    position: absolute;
}

h1 {
    color: red;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

#herosubhead {
font-family: 'Roboto Slab', serif;
margin-top: 0;


}
