.navbar-dark {
    background-color: black;
    opacity: 0.9;
    height: 118px;
}

.trilogylogo {
    width: 20%;
    margin-left: 5%;
    margin-top: 25px;
    max-width: 260px;
}

#admissions{
    color: white;
    float: right;
    margin-right: 5%;
    text-align: right;
    padding-top: 2%;
    font-family: 'Roboto Slab', serif;
}

a {
    color: #38bcdb;
}
.learn-coding-div {
    border: 1px solid red;
    position: absolute;
}

.hero {
    background: url("../data_hero.jpg") no-repeat top center;
    background-size: cover;
    border: 1px blue solid;
    min-height:380px;
}


h1 {
    color: red;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
}

#herosubhead {
font-family: 'Roboto Slab', serif;
margin-top: 0;

}

#coding-header {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #38bcdb;
}

#data-header {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #38bcdb;
}

.small-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: right;
}

hr {
    color: #38bcdb;
}

.hero-right-text {
    width: 20%;
    float: right;
}

.card {
    border-radius: 3px;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 260px;
    left: 100px;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-style: 500;
    text-align: center;
}

.step-1{
font-family: 'Roboto', sans-serif;
font-size: 10px;
text-align: center;
}

.firstname {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.lastname {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.btn {
    background-color: #38bcdb;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-style: 500;
    width: auto;
    padding: 4px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}
.feature-header{
    text-align: center;
}

.phone {
    width: 20%;
}

.feature-box {
    width: auto;
    background: url("../featuring.jpg") no-repeat top center;
    background-size: cover;
}
.feature-text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    width: 20%;
}
.feature-div {
    position:absolute;
    width: 300px; left:50%;
}
.icons {
    width: 5%;
    vertical-align: center;
}

.footnote {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.our-story {
    color: #38bcdb;
    text-align: center;

}

.story-text {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.questions {
    font-family: 'Roboto Slab', serif;
}

.footer-text {
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    margin-right: 5%;
    margin-top: 0;
}
.footer {
    background-color: #38bcdb;
    opacity: 0.9;

}
.trilogylogoblack {
    margin-top: 5%;
    width: 25%;

}

/* MEDIA QUERY FOR MOBILE */

@media only screen and (max-width: 640px) {
 .navbar-dark {
        height: auto;
        text-align: center;
    }
.trilogylogo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    height:auto;
    min-height:0;
}
.card {
    position: relative;
    top: auto;
    left: auto;
}
#admissions {
    text-align: center;
    margin: 0;
    float:none;
    font-size:12px;
}
.nomob {display: none !important;}
.center_txt {text-align: center !important;}
.hero-right-text {
    width: 100%;
    float:none;
}
.learn-coding-div {
    position: relative;
}
.feature-div {
    position:relative;
    width: 100%; left:auto;
}
.feature-text {
    width: 100%;
}
.icons {
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto !important;
    width:15%;
}
.phone {
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto !important;
    width:40%;
}
}
