.navbar-dark {
    background-color: black;
    opacity: 0.9;
    height: 118px;
}

.trilogylogo {
    width: 20%;
    margin-left: 5%;
    margin-top: 25px;
    max-width: 260px;
}

#admissions{
    color: white;
    float: right;
    margin-right: 5%;
    text-align: right;
    padding-top: 2%;
    font-family: 'Roboto Slab', serif;
}

a {
    color: #38bcdb;
}
.learn-coding-div {
    position: absolute;
    width: 220px;
    color: white;
    margin-top: 30px;
    margin-left: 50px;
}

.hero {
    background: url("../data_hero.jpg") no-repeat top center;
    background-size: cover;
    min-height:380px;
}


h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

#herosubhead {
font-family: 'Roboto Slab', serif;
margin-top: 0;

}

#coding-header {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #38bcdb;
}

#data-header {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: white;

}

.small-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: right;
    margin-top:0;
    color:white;
}

#codingHR {
    border-top: 5px solid #38bcdb;
}

#dataHR {
    border-top: 4px solid white;
}

.hero-right-text {
    margin-right: 45;
    margin-top: 30;
    width: 20%;
    float: right;
}

h4 {
    margin-bottom: 0;
}

.card {
    border-radius: 3px;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 300px;
    left: 50px;
    height: auto;

}

.card-title {
    margin-top: 10;
    font-family: 'Roboto', sans-serif;
    font-style: 500;
    text-align: center;
    margin-bottom: 0;
}

.step-1{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 5;
}
.names {
    margin-top: 0;
}

.firstname {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
    float:left;
    text-align: center;
    margin-left: 40px;
    margin-top:0;
}

.lastname {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
    float:right;
    text-align: center;
    margin-right: 85px;
    margin-top; 0;



}

.buttonDiv {
    background-color: #38bcdb;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-style: 500;
    width: 270px;
    padding: 3px;
    margin-top: 50px;
    margin-left: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.feature-container{
background: url("../featuring.jpg") no-repeat top center;
position: absolute;
}

#left-column {
    float:left;
    display:inline-block;
}

#right-column {
    float: right;
    display: inline-block;
}

#featuring {
    display: inline-block;
}

.icons {
    width: 5%;
    vertical-align: center;
}

.footnote {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
} */

.feature-text {
    /* text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    width: 20%; */
    color: blue;
}



/* .feature-header{
    text-align: center;
    color: white;
}

.phone {
    width: 78%;
}

.feature-box {
    width: auto;
    background: url("../featuring.jpg") no-repeat top center;
    background-size: cover;
}
.feature-text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    width: 20%;
}

.feature-div {
    position:absolute;
    width: 300px; left:50%;
}

#feature-left {
    display: block;
    float: left;
}

#feature-right {
    display: block;
    float: right;
}
.icons {
    width: 5%;
    vertical-align: center;
}

.footnote {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
} */

.our-story {
    color: #38bcdb;
    text-align: center;

}

.story-text {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.questions {
    font-family: 'Roboto Slab', serif;
}

.footer-text {
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    margin-right: 5%;
    margin-top: 0;
}
.footer {
    background-color: #38bcdb;
    opacity: 0.9;

}
.trilogylogoblack {
    margin-top: 5%;
    width: 25%;

}

/* MEDIA QUERY FOR MOBILE */

@media only screen and (max-width: 640px) {
 .navbar-dark {
        height: auto;
        text-align: center;
        margin-bottom: 0;
    }
.trilogylogo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    height:auto;
    min-height:0;
}
.card {
    position: relative;
    top: auto;
    left: auto;
}
h4 {
    text-align: center;
    width: auto;
}

buttonDiv{
    width: auto;
}

#admissions {
    text-align: center;
    margin: 0;
    float:none;
    font-size:12px;
}
.nomob {display: none !important;}
.center_txt {text-align: center !important;}

.hero-right-text {
    width: 100%;
    float:none;
    margin-top: 30px;
    margin-bottom: 0;
}
.learn-coding-div {
    position: relative;
    margin-bottom: 40;
}
.feature-div {
    position:relative;
    width: 100%; left:auto;
}
.feature-text {
    width: 100%;
}
.icons {
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto !important;
    width:15%;
}
.phone {
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto !important;
    width:40%;
}
}
