html, body {
    max-width: 100%;
    overflow-x: hidden;
	margin:0;
}

.navbar-dark {
    background-color: black;
    opacity: 0.9;
    height: 118px;
}

.trilogylogo {
    width: 20%;
    margin-left: 5%;
    margin-top: 25px;
    max-width: 260px;
}

#admissions{
    color: white;
    float: right;
    margin-right: 5%;
    text-align: right;
    padding-top: 2%;
    font-family: 'Roboto Slab', serif;
}

a {
    color: #38bcdb;
}
.learn-coding-div {
    position: absolute;
    width: 220px;
    color: white;
    margin-top: 30px;
    margin-left: 50px;
}

.hero {
    background: url("../data_hero.jpg") no-repeat top center;
    background-size: cover;
    min-height:380px;
}


h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

#herosubhead {
font-family: 'Roboto Slab', serif;
margin-top: 0;

}

#coding-header {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: #38bcdb;
}

#data-header {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: white;

}

.small-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: right;
    margin-top:0;
    color:white;
}

#codingHR {
    border-top: 5px solid #38bcdb;
}

#dataHR {
    border-top: 4px solid white;
}

.hero-right-text {
    margin-right: 30px;
    margin-top: 30px;
    width: 20%;
    float: right;
}

h4 {
    margin-bottom: 0;
}

.signup {
    border-radius: 3px;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 300px;
    left: 50px;
    height: auto;
    width: 280px !important;
}

.card-title {
    margin-top: 10;
    font-family: 'Roboto', sans-serif;
    font-style: 500;
    text-align: center;
    margin-bottom: 5px;
}

.step-1{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 5;
}
.names {
    margin-top: 0;
}

.firstname {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
    float:left;
    text-align: center;
    margin-top:0;
	width:123px;
	margin-left:5px;
}

.lastname {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: block;
    float:right;
    text-align: center;
    margin-top: 0;
	width:123px;
	margin-right:5px;
}
#fname, #lname {
    border-bottom: 2px solid black;
    border-width: 0 0 2px 0;
	width: 123px;
    text-align: center;
}

.buttonDiv {
    color:white;
    font-family: 'Roboto', sans-serif;
    font-style: 500;
    padding: 3px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}


.btn {
    color: white !important;
    background-color: #38bcdb;
    width: 260px;


}
.btn:hover {
    background-color: #2e91a3;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    border-bottom: 1px solid white;
    width: 130px;
    text-align: center;
	margin:0px auto;
}

.feature-container h2 {margin: 30px auto 20px;}

.feature-container{
    background: url("../featuring.jpg") no-repeat top center;
    position: relative;
    background-size: cover;
}

#left-column {
    float: left;
    display: inline-block;
    width: 40%;
	text-align:center;
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

#right-column {
    float: right;
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

#featuring {
    display: inline-block;
	width: 20%;
	text-align:center;
}

.icons {
    max-width: 50px;
    vertical-align: center;
}

.phone {
    max-width: 200px;
    vertical-align: center;
}

.footnote {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: white;
	margin-bottom: 30px;
}

.feature-text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: white;
}

.icons {
    margin-bottom: 10px;

}

.story {
    background: url("../about.jpg") no-repeat top center;
    width: auto;
    background-size: cover;
	padding:60px 30px;
}

.our-story {
    color: #38bcdb;
    text-align: center !important;
}

.story-text {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 40px;

}

.btn {
    color: black;
}

.questions {
    font-family: 'Roboto Slab', serif;
}

#accordion {
    background: url("../faq.jpg") no-repeat top center;
    background-size: cover;
    min-height:380px;
}

.card-header, .card-body {
    font-family: 'Roboto Slab', serif;
}

.footer-text {
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 50%;
    float: right;
}

.footer {
    background-color: #38bcdb;
    opacity: 0.9;

}
.trilogylogoblack {
    margin: 20px;
    width: 25%;
}

/* MEDIA QUERY FOR MOBILE */

@media only screen and (max-width: 640px) {
 .navbar-dark {
        height: auto;
        text-align: center;
        margin-bottom: 0;
    }
.trilogylogo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    height:auto;
    min-height:0;
}
.signup {
    position: relative;
    top: auto;
    left: auto;
	width: 100% !important;
	padding:20px;
}
h1 {
    font-size:1.5em;
}
h4 {
    text-align: center;
    width: auto;
}
.small-text {
    padding: 30px;
    font-size: 18px;
}
.buttonDiv{
    width: auto;
}

#admissions {
    text-align: center;
    margin: 0;
    float:none;
    font-size:12px;
}
.nomob {display: none !important;}
.center_txt {text-align: center !important;}

.hero-right-text {
    width: 100%;
    float:none;
    margin-top: 30px;
    margin-bottom: 0;
}
.learn-coding-div {
    position: relative;
    margin-bottom: 40px;
	margin-top: 0px;
	margin-left: 0px;
	width:100%;
	padding:30px 0px 0px 0px;
}

#fname, #lname {
    font-size: 16px;
    text-align: center;
    color: black;
}


.card-title {
    font-size: 30px;
}

.step-1 {
    font-size: 15px;
}

.feature-div {
    position:relative;
    width: 100%; left:auto;
}
.feature-text {
    width: 100%;
}
.icons {
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto !important;
    width:15%;
}
.phone {
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto !important;
    width:20%;
}

#left-column, #right-column {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#featuring {
    display: block;
	width: 100%;
	text-align:center;
}

.story-text {
    padding: 20px;
}

.our-story {
    text-align: center;
}

#accordionExample {
    margin-left: 30px;
}

.footer-text {
	width: 100%;
    float: none;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
	}

.trilogylogoblack {
    margin: 0px auto 20px;
    width: 55%;
    display: block;
    padding-top: 30px;
}

}
